 #one {
  font-size:64px;
  font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight:100;
  letter-spacing: 8px;
}

.two {
  font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight:100;
  text-align:center;
}

h3{
  font-size:30px;
  font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight:100;
	letter-spacing: 2px;
  text-align:center;
	
}

#contact {
  font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight:100;
}

#hrcon{
	margin-right:70%;
	
}

.head{
	margin-left:30%;
	margin-right:30%;
}

.center{
	text-align:center;
}

h4 {
	font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight:400;
	font-size:20px; 
	color:#5e6863;
}

.right {
text-align:right;
}

nav a:link{
    text-decoration: none;
    }

nav a:hover{
    text-decoration: none;
	background-color: #b6e8ef;
	color:#5e6863;
    }

 ul {
 list-style-type: none;
}


li {
	float: left;
	margin-left:80px;
	margin-right:80px;
	margin-top:15px;
	border-right:1px solid white;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	letter-spacing: 2px;
}

a {
color:white;
}

#nav {
width:100%;
height:50px;
margin:auto;
background-color:#333;
}

body {
	background-color:darkgrey;
}

header{
	background-color:#f2f2f2;
}

main {
	width:100%;
	height:500px;
	background-color:#b6e8ef;
	border:3px solid #5e6863;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
	
}

.home {
	width:250px;
	height:200px;
	background-color:#5e6863;;
	border:1px solid black;
	float:left;
	margin-left:9%;
}

.imghome {
	width:250px;
	height:200px;
}

#about {
	width:800px ;
	height:300px ;
	float: right;
	margin-right:20%;
	
} 

#imgbout {
	width:550px;
	height:330px;
	margin-left:80px;
	margin-bottom:80px;
	border: 5px solid #5e6863;
}

.contactimage {
	width:50px;
	height:50px;
	margin-left: 10px;
}

#aboutp {
  font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight:300;
	font-size:20px;
}

p{
	font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight:300;
}

#imghomepage {
	width:100%;
	height:400px;
}

#h4home{
	letter-spacing: 5px;
}

.column {
    float: left;
    width: 30%;
    padding: 10px;
    height: 300px; 
	margin-left:18px;
	margin-right:10px;
}

.column:after {
	clear:both;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.imggallery {
	width:600px;
	height:400px;
	margin-bottom: 50px;
	margin-right: 50px;
	border: 2px solid #5e6863;
	border-radius: 30px;
	
}

#maing {
	height: 1600px;
}
.columnd {
    float: left;
    width: 50%;
}
.rowd:after {
    content: "";
    display: table;
    clear: both;
}
.rowd {
    display: flex;
}

.columnd {
    flex: 50%;
}

.imggdesign {
	width: 700px;
	height:700px;
	margin-bottom:50px;
	margin-left: 120px;
	

}

#mask{
	 transform: rotate(90deg);
}

#maind{
	height: auto;
	background: linear-gradient(#b6e8ef, green);
}


/* HERE IS WHERE I USED RELATIVE POSITIONING */
.designp {
  margin-left:120px;
  font-size:15px;
  font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight:300;
  position: relative;
}

iframe {
	margin-left:650px;
	border:5px solid #5e6863;
}

#mainm {
	height: 800px;
}

#vimeo{
	width:100px;
	height:100px;
	margin-left: 50px;
	
}